body{
  margin: 0px;
}
#headroom{
    font-size: 2vw;
    text-align: center;
    background-color: #121212;
    color: white;
    
}
html {
  scroll-behavior: smooth;
}
#bottom {
    position: fixed;
    bottom : 0;
    display: grid;
    width: 100%;
    text-align: center;
    grid-template-columns:85% 15%;
}
input{
  width: 95%;
  border-radius: 5px;
  height: 2vw;
  display: inline-block;
  border: 2px solid #4CAF50;
  font-size: 1vw;
  margin: 1vw;
}
button{
  
 
  
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 2vw;

}