<!DOCTYPE html>
<html>
    <head>
        <title>Room creation</title>
        
    </head>
    <body>
        <input id='input' placeholder="enter user name for room">
        <button type="button" id='submit'>Submit</button>
        <script src="./script/room_creation.js">Your browser does not supprot JavaScript.Please enable it from setting or contact the developer</script>
        <p id='message'></p>
    </body>
</html>