<head>
    <link rel="stylesheet" type="text/css" href="./css/user_reg.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>

<body>welcome user saasdy your name 
    <p id="getuser">{{userID}}</p>
    <input id='input' placeholder="Enter your name">
    <button id='submit' type="button">Proceed</button>
    <script src="./script/user_reg.js"></script>
</body>